.login-page {
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #140a36,
    #2d1b69
  );

  display: flex;
  align-items: center;
}

.card.login-card {
  background: #4338ca ;
  border-radius: 25px ;
  
}


.form-control {
  height: 50px;
  border-radius: 12px;
}

.btn {
  height: 50px;
  border-radius: 12px;
}

@media (max-width: 768px) {

  .login-card {
    padding: 25px !important;
  }

}